body{
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: aquamarine;
}
